body {
  margin: unset;
}

#paper {
  margin: 50px auto 0 auto;
}

.paper-cont {
  width: 500px;
  height: 700px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.green-border {
  border: 2px solid green;
}

h3 {
  font: 400 16px / 28px Roboto, sans-serif;
}

.automation-card-pare p{
  font-size: 10px;
  background: gray;
  padding: 1px 6px !important;
  text-align: center;
  border-radius: 5px;
  margin-top: 3px !important;
  word-wrap: break-word;
  color: #fff;
}

p{
  line-height: 21px;
}